<div class="content">
	<section id="slide-1" class="section full-photo homeSlide relative">
		
		<div class="bcg" 
			data-center="background-position: 50% 0px;" 
	        data-top-bottom="background-position: 50% -100px;" 
			data-anchor-target="#slide-1">
			<div class="hsContainer">
				<div class="hsContent" 
					data-center="opacity: 1" 
					data-center-top="opacity: 0" 
					data--400-bottom="opacity: 0;" 
					data-anchor-target="#slide-1"
				>
					<h2>Fall in love with note taking.</h2>
				</div>
			</div>
		</div>
	</section>

	<section class="section primary-container homeSlide relative">
		<div class="row">
			<div class="large-5 columns text-center right">
				<h2>Capture your Thoughts</h2>
				<p>Combine handwriting, photos and typing to  bring your projects to life.</p>
				<p>Add as much detail as you like with a variety of colors and fonts.</p>
			</div>
		</div>

		<div class="pad">
			<figure>
				<img src="images/pad.png">
			</figure>
		</div>
	</section>

	<section id="slide-2" class="section full-photo homeSlide">
		
		<div class="bcg" 
			data-center="background-position: 50% 10px;" 
			data-top-bottom="background-position: 50% -100px;" 
			data-bottom-top="background-position: 50% 100px;" 
			data-anchor-target="#slide-2">
			<div class="hsContainer">
				<div class="hsContent" 
					data-center="opacity: 1" 
					data-center-top="opacity: 0" 
					data--20-bottom="opacity: 1;" 
					data-anchor-target="#slide-2"
				>
					<h2>Explore Ideas</h2>
					<p>Prototype with your hands. Experiment with different tools to create beautiful, hand-crafted notes.</p>
					<p>From first to final draft: scale, rotate, recolor,and repeat.</p>
				</div>
			</div>
		</div>
	</section>

	<section class="section primary-container homeSlide relative">
		<div class="row">
			<div class="large-5 columns text-center right">
				<h2>Finalize the Details</h2>
				<p>Zoom in on the specifics, or focus on the big picture.</p>
				<p>Now you are ready to share great ideas with Google Drive, AirDrop, Email and Dropbox.</p>
			</div>
		</div>

		<div class="pad">
			<figure>
				<img src="images/pad.png">
			</figure>
		</div>
	</section>

	<section id="slide-3" class="section full-photo homeSlide">
		
		<div class="bcg" 
			data-center="background-position: 50% 10px;" 
			data-top-bottom="background-position: 50% -100px;" 
			data-bottom-top="background-position: 50% 100px;" 
			data-anchor-target="#slide-3">
			<div class="hsContainer">
				<div class="hsContent" 
					data-center="opacity: 1" 
					data-center-top="opacity: 0" 
					data--20-bottom="opacity: 1;" 
					data-anchor-target="#slide-3"
				>
					<h2>Get Perspective</h2>
					<p>Receive verbal and written comments from your team. </p>
					<p>Review audio comments that are linked to written feedback on your iPad, iPhone and Mac. </p>
				</div>
			</div>
		</div>
	</section>

	<section class="primary-container">
		<div class="row">
			<div class="large-8 large-centered columns text-center">
				<h2>All your notes, one place.</h2>
				<p>At home, in the office, or on the road, your notes are always with you, thanks to iCloud.</p>
			</div>
		</div>

		<div class="lap text-center">
			<figure>
				<img src="images/lap.png">
			</figure>
		</div>
	</section>

	<section id="slide-4" class="section full-photo homeSlide">
		
		<div class="bcg" 
			data-center="background-position: 50% 10px;" 
			data-top-bottom="background-position: 50% -100px;" 
			data-bottom-top="background-position: 50% 100px;" 
			data-anchor-target="#slide-4">
			<div class="hsContainer">
				<div class="hsContent" 
					data-center="opacity: 1" 
					data-center-top="opacity: 0" 
					data--100-bottom="opacity: 1;" 
					data-anchor-target="#slide-4"
				>
				
					<p class="epsilon">“We rely on this sleek powerful note-taker to annotate documents, record lectures, sketch illustrations, and more.”</p>
				</div>
			</div>
		</div>
	</section>
</div>