<div class="content">
	<section class="full-photo">
		<%= partial "partials/_figure-hero" %>
		<div class="row">
			
		</div>
	</section>

	<section class="primary-container">
		<div class="row">
			<div class="large-8 columns right">
				<p>Combine handwriting, photos and typing to  bring your projects to life.</p>
				<p>Add as much detail as you like with a variety of colors and fonts.</p>
			</div>
		</div>
	</section>

	<section class="full-photo">
		<div class="row">
		<%= partial "partials/_figure-hero" %>
		</div>
	</section>

	<section class="primary-container">
		<div class="row">
			<div class="large-8 columns right">
				<p>Combine handwriting, photos and typing to  bring your projects to life.</p>
				<p>Add as much detail as you like with a variety of colors and fonts.</p>
			</div>
		</div>
	</section>

	<section class="full-photo">
		<div class="row">
		<%= partial "partials/_figure-hero" %>
		</div>
	</section>

		<section class="primary-container">
		<div class="row">
			<div class="large-8 columns right">
				<p>Combine handwriting, photos and typing to  bring your projects to life.</p>
				<p>Add as much detail as you like with a variety of colors and fonts.</p>
			</div>
		</div>
	</section>

	<section class="full-photo">
		<div class="row">
		<%= partial "partials/_figure-hero" %>
		</div>
	</section>
</div>