<div class="content">
	<section id="slide-1" class="section full-photo homeSlide relative">
		
		<div class="bcg" 
			data-center="background-position: 50% 0px;" 
	        data-top-bottom="background-position: 50% -100px;" 
			data-anchor-target="#slide-1">
			<div class="hsContainer">
				<div class="hsContent" 
					data-center="opacity: 1" 
					data-center-top="opacity: 0" 
					data--100-bottom="opacity: 0;" 
					data-anchor-target="#slide-1"
				>
					<h2>Fall in love with note taking.</h2>
				</div>
			</div>
		</div>

		<footer class="tinted overlay">
			<div class="row text-center">
				<h1 class="beta">Fall in love with note taking.</h1>
			</div>
		</footer>
	</section>

	<section class="primary-container">
		<div class="row">
			<div class="large-4 columns text-center right">
				<p>Combine handwriting, photos and typing to  bring your projects to life.</p>
				<p>Add as much detail as you like with a variety of colors and fonts.</p>
			</div>
		</div>
	</section>

	<section id="slide-2" class="section full-photo homeSlide">
		
		<div class="bcg" 
			data-center="background-position: 50% 10px;" 
			data-top-bottom="background-position: 50% -100px;" 
			data-bottom-top="background-position: 50% 100px;" 
			data-anchor-target="#slide-2">
			<div class="hsContainer">
				<div class="hsContent" 
					data-center="opacity: 1" 
					data-center-top="opacity: 0" 
					data--100-bottom="opacity: 0;" 
					data-anchor-target="#slide-2"
				>
					<h2>that is also responsive.</h2>
				</div>
			</div>
		</div>	
	</section>

	<section class="primary-container">
		<div class="row">
			<div class="large-4 columns text-center right">
				<p>Zoom in on the specifics, or focus on the big picture.</p>
				<p>Now you are ready to share great ideas with Google Drive, AirDrop, Email and Dropbox.</p>
			</div>
		</div>
	</section>

	<section class="full-photo">
		<%= partial "partials/_figure-hero" %>
		<div class="row">
		
		</div>
	</section>

		<section class="primary-container">
		<div class="row">
			<div class="large-8 large-centered columns text-center">
				<p>At home, in the office, or on the road, your notes are always with you, thanks to iCloud.</p>
			</div>
		</div>
	</section>

	<section class="full-photo">
		<%= partial "partials/_figure-hero" %>
		<div class="row">
		
		</div>
	</section>
</div>