<footer class="footer">	
	<section class="sock">
		<div class="row">
			<div class="medium-8 medium-centered columns">
				<%= partial "partials/_social-footer" %>
			</div>
		</div>

		<div class="row button-row">
			<div class="buttons">
				<a href="http://itunes.apple.com/us/app/notability-handwriting-note/id360593530" class="btn-app"><img src="images/btn-app.svg" /></a>
				<a href="#" class="btn-mac"><img src="images/btn-mac.svg" /></a>
			</div>
		</div>

		<div class="row copy-row">
			<div class="medium-14 medium-centered columns medium-text-center">
				<p class="copy"><%= data.content.footer.copyright %></p>

				<p class="footer-menu"><a href="#">Terms of Service</a> <a href="#">Privacy</a></p>
			</div>
		</div>
	</section>
</footer>