<footer class="footer">	
	<section class="sock">
		<div class="row rhythm">
			<div class="medium-8 medium-centered columns">
				<%= partial "partials/_social-footer" %>
			</div>
		</div>	
		<div class="row">
			<div class="medium-14 medium-centered columns small-text-center">
				<p class="epsilon sans">© 2014 Ginger Labs, Inc. All rights reserved. Notability is a registered trademark of Ginger Labs, Inc. </p>
			</div>
		</div>
	</section>
</footer>