<header id="header" class="header">
	<div class="row">
		<div class="medium-16 medium-centered columns small-only-text-center">
			<div class="row">
				<div class="medium-8 columns">
					<%= partial "partials/_logo" %>
				</div>

				<div class="medium-8 columns">
					<%= partial "partials/_social" %>
				</div>
			</div>
		</div>
	</div>
</header>