	<a href="mailto:info@gingerlabs.com" class="show-for-large-up"><span class="icon-mail"></span></a>
	<a href="http://twitter.com/gingerlabs" class="show-for-medium-up"><span class="icon-twitter"></span></a>
	<a href="http://facebook.com/Notabilityapp" class="show-for-medium-up"><span class="icon-facebook"></span></a>