<div class="social right-medium">
	<a href="http://itunes.apple.com/us/app/notability-handwriting-note/id360593530" class="btn-app"><img src="images/btn-app.svg" /></a>
	<a href="http://twitter.com/gingerlabs" class="show-for-medium-up"><span class="icon-twitter"></span></a>
	<a href="http://facebook.com/Notabilityapp" class="show-for-medium-up"><span class="icon-facebook"></span></a>
</div>