<div class="social text-center">
	<a href="mailto:info@gingerlabs.com"><span class="icon-mail"></span></a>
	<a href="http://twitter.com/gingerlabs"><span class="icon-twitter"></span></a>
	<a href="http://facebook.com/Notabilityapp"><span class="icon-facebook"></span></a>
	<a href="http://support.gingerlabs.com/"><span class="icon-help"></span></a>
</div>