<div class="social right-medium">
  <a href="https://itunes.apple.com/us/app/notability/id736189492?mt=12&uo=4&at=10lJXB&ct=macwebsite" class="btn-app"><img src="images/btn-app.svg" /></a>
  <a href="http://twitter.com/gingerlabs" class="show-for-medium-up"><span class="icon-twitter"></span></a>
  <a href="http://facebook.com/Notabilityapp" class="show-for-medium-up"><span class="icon-facebook"></span></a>
</div>