<div class="social text-center">
	<a href="#"><span class="icon-mail"></span></a>
	<a href="#"><span class="icon-twitter"></span></a>
	<a href="#"><span class="icon-facebook"></span></a>
	<a href="#"><span class="icon-help"></span></a>
</div>