<div class="social right-medium">
	<a href="#" class="btn-app"><img src="images/btn-app.png" /></a>
	<a href="#" class="show-for-medium-up"><span class="icon-mail"></span></a>
	<a href="#" class="show-for-medium-up"><span class="icon-twitter"></span></a>
	<a href="#" class="show-for-medium-up"><span class="icon-facebook"></span></a>
</div>