.primary-container {
	height: 800px;
	position: relative;
}

.pad {
	figure {
		width: 80%;
		margin: 0 auto;
	}
}

@media #{$large-up} {
	.pad {
		position: absolute;
		right: 50%; 
		top: 6em;

		figure {
			width: 800px;
		}
	}	
}

.lap {
	figure {
		width: 80%;
		margin: 0 auto;
	}
}

.pitch {
	@media #{$large-up} {
		top: 6em;
	}
}