.primary-container {
	height: 500px;

	position: relative;
	overflow: hidden;
}

.pad, .lap {
	position: absolute;
	bottom: -2em;

	figure {
		width: 80%;
		margin: 0 auto;
	}
}

.lap {
	figure {
		width: auto;
	}
}

@media #{$medium-up} {
	.primary-container {
		height: 800px;
	}

	@media #{$portrait} {
		.primary-container {
			height: 700px;
		}

		.pitch {
			@include grid-column(16);
		}

		.bcg {
			background-attachment: scroll;
		}
	}

	@media #{$landscape} {
		.primary-container {

		}

		.pad {
			position: absolute;
			right: 50%; 
			top: 6em;

		figure {
			width: 800px;
		}

		.bcg {
			background-attachment: scroll;
		}

	}

	.pitch {
			@include grid-column(6);
			float: right;
			margin-top: 4em;
		}
	}
}

@media #{$large-up} {
	.primary-container {

	}

	.pad {
		position: absolute;
		right: 50%; 
		top: 6em;

		figure {
			width: 800px;
		}
	}

	.lap {
		position: relative;
	}

	.pitch {
		@include grid-column(6);
		float: right;
		top: 6em;
	}

	#message-3 {
		height: 100vh;
	}

	.bcg {
			background-attachment: fixed;
	}

	.skroller-mobile .bcg, .touch .bcg {
		background-attachment: scroll;
		background-position: 50%, 50%; 
	}
}

  