.primary-container {
	height: 800px;
	height: 90vh;
	position: relative;
	overflow: hidden;
}

.pad, .lap {
	position: absolute;
	bottom: -2em;

	figure {
		width: 80%;
		margin: 0 auto;
	}
}

.lap {
	figure {
		width: auto;
	}
}

@media #{$medium-up} {
	@media #{$portrait} {
		.primary-container {
			height: 70vh;
		}

		.pitch {
			@include grid-column(16);
		}

		.bcg {
			background-attachment: scroll;
		}

	}

	@media #{$landscape} {
		.primary-container {
			height: 100vh;
		}

		.pad {
			position: absolute;
			right: 50%; 
			top: 6em;

		figure {
			width: 800px;
		}

		.bcg {
			background-attachment: scroll;
		}

	}

	.pitch {
			@include grid-column(6);
			float: right;
			margin-top: 4em;
		}
	}
}

@media #{$large-up} {
	.primary-container {
		height: 100vh;
	}

	.pad {
		position: absolute;
		right: 50%; 
		top: 6em;

		figure {
			width: 800px;
		}
	}

	.lap {
		position: relative;
	}

	.pitch {
		@include grid-column(6);
		float: right;
		top: 6em;
	}

	#message-3 {
		height: 100vh;
	}

	.bcg {
			background-attachment: fixed;
	}
	
	@media #{$portrait} {
		.bcg {
			background-attachment: fixed;
		}
	}	

	@media #{$landscape} {
		.bcg {
			background-attachment: fixed;
		}
	}	
}

