.primary-container {
	height: auto;
	position: relative;
	overflow: hidden;
}

.pad {
	figure {
		width: 80%;
		margin: 0 auto;
		margin-bottom: -6em;
	}
}

.pitch, %pitch {
	width: 80%;
	margin: 0 auto;

	h2 svg {
		height: 200px;
	}
}

.sale {
	@extend %pitch;
}

#message-1 {
	background-color: #004d99;
}	

#message-2 {
	background-color: #004d99;

	h2 svg {
		height: 120px;
	}

	p svg {
		height: 100px;
	}
}

#message-3 {
	background-color: #004d99;
}


@media #{$medium-up} {
	.pitch {
		h2 svg {
			height: 200px;
		}

		p {
			width: 50%;
			margin-left: auto;
			margin-right: auto;
		}
	}

	#message-1 {

	}

	#message-2 {
		h2 svg {
			height: 120px;
		}

		p svg {
			height: 100px;
		}
	}

	#message-3 {
		height: 900px;
	}
}

@media #{$large-up} {

	.primary-container {
		height: 800px;
	}

	.pad {
		position: absolute;
		right: 50%; 
		top: 6em;

		figure {
			width: 800px;
		}
	}

	.pitch {
		@include grid-column(6);
		float: right;
		margin-top: 4em;

		h2 svg {
			height: 200px;
		}

		p {
 			width: 100%;

			svg {
				height: 100px;
			}
		}
	}

	#message-1 {
		.pitch {
			margin-top: 6em;
		}
	}

	#message-2 {
		h2 svg {
			height: 120px;
		}
	}

	#message-3 {
		height: 900px;
	}

	.bcg {
		background-attachment: fixed;
	}

	.skroller-mobile .bcg, .touch .bcg {
		background-attachment: scroll;
		background-position: 50%, 50%; 
	}
}

  