/* ==========================================================================
   Parallax Scroll
   ========================================================================== */
body, html {
	height: 100%;
	min-height: 100%;
}

.no-js {
	padding-top: 106px;
}

h2 {
	margin-top: 0;
}

.loading {
	background: url('../images/loading.gif') no-repeat center center;
}

.section {
    opacity: 0;
	height: 600px;
}

.loaded .section,
.no-js .section {
	opacity: 1;
	-webkit-transition: opacity 300ms ease-out;
	-moz-transition: opacity 300ms ease-out;
	transition: opacity 300ms ease-out;
}

main {
	overflow-x: hidden;
}

#preload {
	width: 1px;
	height: 1px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.bcg {
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position: 50%, 50%;
    height: 100%;
    width: 100%;
}

.hsContainer {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.hsContent {
    max-width: 80%;
    margin: -150px auto 0 auto;
    display: table-cell;
    vertical-align: middle;
    padding: 0 8%;
    text-align: center;
    position: relative;
    background-color: rgba(0, 0, 0, .3);
    
    h2  {
        color: #fff;
        
        svg {
            height: 300px;
        }
    }

    p {
        color: #fff;
        width: 100%;
        padding: 0 1em;
    }

    a {
	   color: #fff;
	   text-decoration: underline;
    }
}

/* Slide 1 */
#slide-1 {
    .bcg { 
        background-image:url('../images/hero-sm.jpg');

        @media #{$large-up} {
            background-image:url('../images/hero.jpg');
        }
    }

    .hsContent {
        vertical-align: top;
        padding-top: 60%;
    }

    h2 {
        svg {
            height: 150px;
        }
    }
}

/* Slide 2 */
#slide-2 {
    .bcg {
        background-image:url('../images/explore-sm.jpg');

        @media #{$large-up} {
            background-image:url('../images/explore.jpg');
        }
    }
    
    .hsContent {
        background-color: rgba(0, 0, 0, .6);
    }
    
    h2 {
        svg {
            fill: #ef615f;
        }
    }
}   

/* Slide 3 */
#slide-3 .bcg {
    background-image:url('../images/perspective-sm.jpg');
    
    @media #{$large-up} {
        background-image:url('../images/perspective.jpg');
    }
}

#slide-3 .hsContent {
    background-color: rgba(0, 0, 0, .5);
}
#slide-3 h2 {}

/* Slide 4 */
#slide-4 .bcg {
    background-image:url('../images/footer-sm.jpg');
    
    @media #{$large-up} {
        background-image:url('../images/footer.jpg');
    }
        
    background-position: center center;
}

#slide-4 .hsContent { 
    vertical-align: top;
    padding-top: 10%;
}

#slide-4 h2 {}

.buttons {
    margin: 0 auto;
    position: relative;
    text-align: center;

    img {
        height: 40px;
    }
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/* Medium devices (tablets, 768px and up) */

@media #{$medium-up} {
    body, html {
        height: auto;
    }

    .bcg {
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        height: 100%;
        width: 100%;
    }

    .skroller-mobile .bcg, .touch .bcg {
        background-attachment: scroll;
        background-position: 50%, 50%; 
    }

    .section {
        min-width: 768px;
        height: 600px;
    }

    .hsContainer {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
    }

    #slide-1 {
        .hsContent {
            padding-top: 300px;
        }

        h2 {
            font-size: 40px;
            font-weight: 100;
        }
    }

    #slide-3 {
        .hsContent {
            p {
                max-width: 100%;
            }
        }    
    }    

    // #slide-4 {
    //     p {
    //         width: 60%;
    //     }
    // }    

    .buttons {
        position: relative;
        width: 100%;

        .btn {

            &-app {
                float: left;
                margin-left: 10%;
            }

            &-mac {
                float: right;
                margin-right: 10%;
            }
        }    
    }
}    

@media #{$large-up} {
    
    $left-right-graident: -webkit-linear-gradient(right, transparent 50%, rgba(0,0,0, .8));
    $top-bottom-graident: -webkit-linear-gradient(bottom, transparent 50%, rgba(0,0,0, .8));

    %tint {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        
        background-image: $left-right-graident;
        -moz-transition: background .3s linear;
        -webkit-transition: background .3s linear;
        -o-transition: background .3s linear;
        transition: background .3s linear;
    }

    .hsContainer {
        &:before {
            @extend %tint;
        }
    }

    .hsContent {
        width: 30%;
        max-width: 30%;
        position: absolute;
        display: block;
        left: 2em;
        top: 40%;
        text-align: center;
        padding: 0;
        background-color: transparent;

        h2  {
            margin-bottom: 0;
            padding: 0;
        }

        p {
            max-width: 90%;
            margin-left: auto;
            margin-right: auto;
        }
    }    

    #slide-1 {
        .hsContainer {
            &:before {
                background-image: none;
            }
        }  

        .hsContent {
            top: auto;
            left: auto;
            width: 100%;
            max-width: 100%;
            text-align: center;
            margin-top: 0;
            padding-top: 250px;
        }

        h2 {
            font-size: 52px;
            font-weight: 100;
        }
    }

    #slide-2 {
        .hsContent {
            background-color: transparent;
            margin-left: 0;
        }

        h2 {
            background: none;
        }
    }

    #slide-3 {
        .hsContent {
            margin-left: 0;
            background-color: transparent;
        }

        h2 {
            background: none;
        }
    }

    #slide-4 {
        .hsContainer {
            &:before {
                background-image: $top-bottom-graident;
            }
        }   

        .hsContent {
            width: 100%;
            max-width: 100%;
            margin-left: 0;
            left: 0;
            padding-top: 0;
            top: 30%;
        }

        h2 {
            background: none;
        }

        p {
            width: 60%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

@media #{$xlarge-up} {
    #slide-4 {
        p {
            width: 40%;
        }
    }    
}    