.footer {
	background-color: #000;
	color: #fff;
	padding-top: .85em;
	position: relative;

	%hN, p, a {
		@include type-weight(thin);
		color: #fff;
		margin-bottom: .75em;
		line-height: 2em;
	}

	p {
		font-size: .75em;

		@media #{$medium-up} {
			margin-right: 1em;
		}	
	}

	a {
		color: rgba(#fff, .4);
		margin: 0 .5em;
		white-space: nowrap;
	}

	.underlined {
		border-bottom-color: #fff;
	}

	.social {
		overflow: hidden;
		margin: 0 20%;
		margin-bottom: 1em;

		@media #{$medium-up} {
			margin: 0 10%;
			margin-bottom: 0;
		}	

		@media #{$large-up} {
			margin: 0 20%;
		}	
		
		a {
			width: 25%;
			margin: 0;
		}
	}

	.copy-row {
		@media #{$medium-up} {
			height: 2em;
		}
	}

	.copy {
		text-align: center;
		margin-right: 0;

		@media #{$large-up} {
			float: left;
			text-align: left;
			margin-right: 1em;
		}	
	}

	.button-row {
		@media #{$medium-up} {
			height: 0;
		}
	}

	.buttons {
		top: 0;

    @media #{$medium-up} {
      top: -150px;
    }

		a {
			display: block;
			margin: 2em;

			@media #{$medium-up} {
				display: inline-block;
				margin: 0 2em;
			}	
		}
	}   
}

.footer-menu {
	font-size: .75em;
	text-align: center;

	@media #{$large-up} {
		float: right;
	}	
}
