.footer {
	background-color: #000;
	color: #fff;
	padding-top: 1.5em;
	position: relative;

	%hN, p, a {
		@include type-weight(thin);
		color: #fff;
	}

	.underlined {
		border-bottom-color: #fff;
	}

	.social {
		overflow: hidden;
		margin: 0 20%;
		
		a {
			width: 25%;
		}
	}
}

.footer-menu {
	margin: 2em 0 3em 0;
	overflow: hidden;
	
	ul {
		margin: 0;
	}
	
	li {
		font-size: .925em;
		list-style: none;
		line-height: 2em;
		
		&.column {
			@media #{$medium-up} {
				@include grid-column($columns:2);
			}
		}
		
		a {
			font-weight: 400;
		}
	}
}
