.footer {
	background-color: #000;
	color: #fff;
	padding-top: .85em;
	position: relative;

	%hN, p, a {
		@include type-weight(thin);
		color: #fff;
		margin-bottom: .85em;
	}

	p {
		font-size: .75em;
		margin-right: 1em;
	}

	a {
		color: rgba(#fff, .4);
		margin: 0 .5em;
	}

	.underlined {
		border-bottom-color: #fff;
	}

	.social {
		overflow: hidden;
		margin: 0 20%;
		margin-bottom: 1em;
		
		a {
			width: 25%;
			margin: 0;
		}
	}
}

.footer-menu {
	font-size: .75em;
}
