body {
	padding-top: 0;
}

header.header {
	position: absolute;
	width: 100%;
	z-index: 1000 !important;
	padding-top: 2em;

	.logo {
		padding: 0;
		max-width: 275px;
		margin: 0 auto;
		z-index: 1000 !important;

		@media #{$medium-up} {
			max-width: 387px;
			margin: 0;
		}	
	}

	.social {
		overflow: hidden;
		margin-top: 1em;
		text-align: center;
	}

	.btn-app {
		margin-right: 1em;
		width: 100%;

		img {
			height: 2.5em;
		}

		@media #{$medium-up} {
			width: auto;

			img {
				height: 2em;
				margin: 0 auto;
			}
		}	
	}
}
	