body {
	padding-top: 0;
}

header.header {
	cursor: pointer;
	position: absolute;
	width: 100%;
	z-index: 1000 !important;
	padding-top: 2em;

	.logo {
		padding: 0 1em;
		width: 387px;
		height: 80px;
		z-index: 1000 !important;
	}

	.btn-app {
		margin-right: 1em; 

		img {
			height: 2em;
		}
	}
}
	