// $BaseType
// -------------------------------------//

$base-font-size: 16px;
$base-line-height: 24px;

$h1-font-size: rem-calc(44) !default;
$h2-font-size: rem-calc(37) !default;
$h3-font-size: rem-calc(27) !default;
$h4-font-size: rem-calc(23) !default;
$h5-font-size: rem-calc(18) !default;
$h6-font-size: 1rem !default;

$font-family: "adelle-sans", Helvetica, Arial, sans-serif;
$base-font-family: $font-family;
$sans-font-family: $font-family;
$alt-font-family: "proxima-nova", Helvetica, Arial, sans-serif;
// $Brand Colors

$primary-color:     #1383c3;
$secondary-color:   #188e29;
$wash-color:        #e3e3e3;
$alert-color:       #ffff00;
$success-color:     #0e4a77;
