<section class="page-content row">
  <article class="large-10 large-centered columns">
    <p>Terms of Service

PLEASE READ THESE TERMS OF SERVICE CAREFULLY. By using the www.gingerlabs.com website owned and operated by Ginger Labs, Inc. (“Ginger Labs”) (including, without limitation, any associated forums or blogs), you agree to be bound by the following Terms of Service. Ginger Labs reserves the right to modify these Terms of Service from time to time without notice. Please review these Terms of Service from time to time so that you will be apprised of any changes.

Copyright
All content on this website, including text, graphics, logos, icons, images, and video clips, is the exclusive property of Ginger Labs or its content suppliers and is protected by U.S. and international copyright laws. The compilation (meaning the collection, arrangement, and assembly) of all content on this website is the exclusive property of Ginger Labs and is also protected by U.S. and international copyright laws. The content on this website may be used as a resource. Any other use, including the reproduction, modification, distribution, transmission, republication, display, or performance, of the content on this website is strictly prohibited.

Trademarks
Notability, SoundAMP, and the Ginger Labs logo are trademarks of Ginger Labs. All other trademarks mentioned in this website are the property of their respective owners. The trademarks and logos displayed on this website may not be used without the prior written consent of Ginger Labs or their respective owners.

Blogs and Community Forums
Although some of the individuals posting to this website, including the moderators, work for Ginger Labs, any opinions expressed are the personal opinions of the original authors, not of Ginger Labs. The content is provided for informational and entertainment purposes only and is not meant to be an endorsement or representation by Ginger Labs or any other party. Ginger Labs does not assume any responsibility or liability for any blogs, opinions or other commentary posted on this website or any website linked to this website and makes no express or implied warranty or guarantee about the accuracy, copyright compliance, legality, or any other aspect of the content.

This website is available to the public. No information you consider confidential should be posted to this website. If you submit content, you agree that Ginger Labs may reveal your identity and whatever information we know about you to any law enforcement agent or official in the event of legal action arising from any posting(s) made by you. Ginger Labs may modify, display, delete, transmit or distribute content posted on this website in its sole discretion and without your permission. However, Ginger Labs shall not be responsible for controlling or editing any content, nor can Ginger Labs ensure prompt removal of inappropriate or unlawful content. You also grant to Ginger Labs a worldwide, perpetual, irrevocable, royalty-free and fully-paid, transferable (including rights to sublicense) right to fully exercise and exploit all intellectual property, publicity, and moral rights with respect to any content you provide.

By posting you agree to be solely responsible for the content of all information you contribute, link to, or otherwise upload to this website and release Ginger Labs from any liability related to your use of the website. You warrant, represent and agree that you will not contribute any content or otherwise use the website in a manner that (i) infringes the intellectual property rights or proprietary rights, or rights of publicity or privacy, of any third party; (ii) violates any law, statute, ordinance or regulation; (iii) is deceptive, fraudulent, invasive of another’s privacy, offensive, profane, harmful, threatening, abusive, harassing, tortious, defamatory, vulgar, obscene, libelous, or otherwise objectionable; (iv) constitutes “spamming” or otherwise involves unauthorized or unsolicited advertising, junk or bulk e-mail; or (v) involves commercial activities and/or sales without Ginger Labs’ prior written consent, such as contests, sweepstakes, barter, advertising or pyramid schemes. Ginger Labs reserves the right to remove any content from the website at any time, for any reason (including, but not limited to, upon receipt of claims or allegations from third parties or authorities relating to such content or if Ginger Labs is concerned that you may have breached the immediately preceding sentence), or for no reason at all.

Other Policies
For information regarding Ginger Labs’ treatment of personally identifiable information, please review Ginger Labs' current privacy policy.

If you believes that material or content residing on or accessible through the website infringes a copyright, please review Ginger Labs’ Copyright Dispute Policy. The aforementioned policies are hereby incorporated into these Terms of Service by this reference.

General Disclaimer
This website is provided by Ginger Labs on an “as is” basis. Ginger Labs makes no representations or warranties of any kind, express or implied, as to the operation of the website or the information, content, materials, or products included on this website. To the full extent permissible by applicable law, Ginger Labs disclaims all warranties, express or implied, including, but not limited to, implied warranties of merchantability and fitness for a particular purpose and non-infringement.

Although Ginger Labs has attempted to provide accurate information on this website, Ginger Labs assumes no responsibility for the accuracy or completeness of the information. Ginger Labs may change the features, programs or products mentioned on or provided through this website at any time without notice, but Ginger Labs makes no commitment to update such features, programs or products in any respect. Mention of non-Ginger Labs products or services is for information purposes only and constitutes neither an endorsement nor a recommendation.

Liability Limitation
Ginger Labs will not be liable under any theory of law, for (i) any indirect, incidental, punitive or consequential damages, including, but not limited to, loss of profits, business interruption, loss of information or data or costs of replacement goods, arising out of the use or inability to use this website or any Ginger Labs product or resulting from use of or reliance on the information presented, even if Ginger Labs may have been advised of the possibility of such damages or (ii) any direct damages in excess of (in the aggregate) one-hundred U.S. dollars ($100.00).

Links to Third Party Websites

This website may contain links to third party websites. Access to any other Internet website linked to this website is at your own risk and Ginger Labs is not responsible for the accuracy, availability or reliability of any information, goods, data, opinions, advice or statements made available on these websites. As such, Ginger Labs is not liable for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such third party website. Ginger Labs provides these links merely as a convenience and the inclusion of such links does not imply an endorsement or recommendation.

Miscellaneous

Ginger Labs may terminate or suspend access to the website immediately, without prior notice or liability, if you breach any of these terms or conditions or for any other reason. The failure of either party to exercise in any respect any right provided for herein shall not be deemed a waiver of any further rights hereunder. If any provision of these Terms of Service is found to be unenforceable or invalid, that provision shall be limited or eliminated to the minimum extent necessary so that these Terms of Service shall otherwise remain in full force and effect and enforceable. These Terms of Service are not assignable, transferable or sublicensable by you except with Ginger Labs’ prior written consent. These Terms of Service shall be governed by and construed in accordance with the laws of the state of California without regard to the conflict of laws provisions thereof. Both parties agree that these Terms of Service are the complete and exclusive statement of the mutual understanding of the parties and supersede and cancel all previous written and oral agreements, communications and other understandings relating to the subject matter hereof, and that all modifications must be in a writing signed by both parties, except as otherwise provided herein. No agency, partnership, joint venture, or employment is created as a result of these Terms of Service and you do not have any authority of any kind to bind Ginger Labs in any respect whatsoever.

</p>

  </article>

</section>