<section class="page-content row">
  <article class="large-10 large-centered columns">
        <h1> Privacy Policy </h1>

        <p>Ginger Labs, Inc. (“Ginger Labs”) takes your privacy seriously.  By visiting the www.gingerlabs.com website (the “Website”), or using any of our features or services, you acknowledge that you accept the practices and policies outlined in this Privacy Policy. </p>
        <h2>WHAT DOES THIS PRIVACY POLICY COVER?</h2>
        <p>This Privacy Policy covers our treatment of personally identifiable information (”Personal Information”) that we gather when you access the Website and/or use our features or services, such as our forums.  This policy does not apply to the practices of companies that we do not own or control, or to individuals that we do not employ or manage.</p>
        <p>The Website may contain links to other sites.  We are not responsible for the privacy policies and/or practices of other sites. When linking to another site you should read that website’s privacy policy. This Privacy Policy only governs information collected on the Website. </p>
        <h2>WHAT PERSONAL INFORMATION DOES GINGER LABS COLLECT?</h2>
        <p>The information we gather from customers enables us to personalize and improve our services and allows each user to set up a user account that can be used to interact with other users through the Website.  In connection with the Website, we request and display some personal information to other users and visitors of the Website, which allows users to identify each other.  We collect the following types of information from our customers:</p>
        <p>Personal Information You Provide to Us:</p>
        <p>We receive and store any information you enter on our Website or provide to us in any other way.  The types of Personal Information collected may include your user name, email address, IP address, and browser information. You can choose not to provide us with certain information, but you may not be able to take advantage of some of our features.  </p>
        <p>Personal Information Collected Automatically:</p>

        <p>Whenever you interact with our Website or services, we automatically receive and record information on our server logs from your browser, including your IP address, cookie information, and requested page.
        Generally, our service automatically collects usage information, such as the numbers and frequency of visitors to our site and its components.  We only use this data in aggregate form, as a statistical measure, and not in a manner that would identify you personally, in order to help improve our services.  We may also provide aggregate information to our partners in order to help them provide you with an optimal online experience.</p>
        <p>E-mail Communications:</p>
        <p>We may receive a confirmation when you open an email from us if your computer supports this type of program.  If you do not want to receive email or other mail from us, please indicate your preference during the registration process, by making a modification on your account page, or by sending us an e-mail at support @ gingerlabs.com</p>
        <p>What About Cookies?</p>
        <p>Cookies are alphanumeric identifiers that we transfer to your computer’s hard drive through your browser to enable our systems to recognize your browser and tell us how and when pages in our site are visited and by how many people.  Ginger Labs cookies do not collect Personal Information, and we do not combine the general information collected through cookies with other Personal Information. 
        Most browsers allow you to prevent the browser from accepting new cookies or to decide on acceptance of each new cookie in a variety of ways, but some of our features may not work unless cookies are activated. 
        Ads appearing on the Website may be delivered to users by our advertising partners, who may set cookies. These cookies allow the ad server to recognize your computer each time they send you an online advertisement to compile information about you or others who use your computer. This information allows ad networks to, among other things, deliver targeted advertisements. This Privacy Policy covers our use of cookies but does not cover the use of cookies by any advertisers.</p>

        <h2>WILL GINGER LABS SHARE ANY OF THE PERSONAL INFORMATION IT RECEIVES?</h2>
        <p>We neither rent nor sell your Personal Information to anyone.  We share your Personal Information with other parties only as described below.  </p>
        <p>Affiliated Businesses We Do Not Control: We are affiliated with a variety of businesses and work closely with them.  In certain situations, these businesses sell items to you through the Website.  In other situations, we provide services or sell products jointly with affiliated businesses.  You can easily recognize when an affiliated business is associated with your transaction, and we will share your Personal Information that is related to such transactions with that affiliated business, if you have agreed to be solicited by marketing partners during the registration process. </p>
        <p>Agents: We may employ other companies and people to perform tasks on our behalf and need to share your information with them to provide products or services to you.  Unless we tell you differently, our agents do not have any right to use Personal Information that we share with them except as necessary to assist us. You hereby consent to our sharing of Personal Information for the above purposes.</p>
        <p>User profiles and submissions: User profile information including users’ name, email address, and other information you enter (“User Submissions”) may be displayed to other users to facilitate user interaction within the Website. Email addresses are used to add new User Submissions to user profiles and to communicate through User Submissions. We may also send you e-mails or other communications relating to your User Submissions. You acknowledge and agree that by posting such User Submissions, we may send you email and other communication that we determines in our sole discretion relates to your User Submissions. </p>
        <p>Business Transfers: In some cases, we may choose to buy or sell assets.  In these types of transactions, customer information is typically one of the business assets that is transferred.  Moreover, if we, or substantially all of our assets are acquired, or in the unlikely event that we go out of business or enter bankruptcy, customer information would be one of the assets that is transferred or acquired by a third party. You acknowledge that such transfers may occur, and that any acquirer of us may continue to use your Personal Information as set forth in this policy.
        Protection of Ginger Labs and Others: We may release Personal Information when we believe in good faith that release is necessary to comply with the law; enforce or apply our Terms of Service and/other agreements; or protect the rights, property, or safety of Ginger Labs, our employees, our users, or others.  </p>
        <p>With Your Consent: Except as set forth above, you will be notified when your Personal Information may be shared with third parties, and will be able to prevent the sharing of this information.</p>
        <h2>IS PERSONAL INFORMATION ABOUT ME SECURE?</h2>
        <p>Your Personal Information is protected by a password for your privacy and security.  We endeavor to ensure that user account information is kept private, however, we cannot guarantee the security of user account information. Unauthorized entry or use, hardware or software failure, or other factors may compromise the security of user information at any time. </p>

        <h2>WHAT PERSONAL INFORMATION CAN I ACCESS?</h2>
        <p> We allow you to access the following information about yourself for the purpose of viewing, and in certain situations, updating that information.  This list will change as our Website changes. </p>

        <p>
        •&nbsp;Username and password<br>
        •&nbsp;E-mail address<br>
        •&nbsp;User profile information<br>
        </p>

        <h2>WHAT CHOICES DO I HAVE?</h2>
        <p>
        •&nbsp;As stated previously, you can always opt not to disclose information to us, even though it may be needed to take advantage of certain features.<br>
        •&nbsp;You can add or update certain information in your account.  When you update information, however, we may maintain a copy of the old information in our records.<br>
        •&nbsp;You may request deletion of your account by e-mailing support at gingerlabs.com.  Please note that some information may remain in our records after deletion of your account.<br>
        •&nbsp;You may opt not to receive email or other mail from us, as described above.  Please note that if you do not want to receive legal notices from us, such as this Privacy Policy, those legal notices will still govern your use of the Website, and you are responsible for reviewing such legal notices for changes.</p>
        <h2>CHANGES TO THIS PRIVACY POLICY</h2>
        <p>We may amend this Privacy Policy from time to time.  Use of information we collect now is subject to the Privacy Policy in effect at the time such information is used.  If we make changes in the way we use Personal Information, we will notify you by posting an announcement on our Website or sending you an email.  Users are bound by any changes to the Privacy Policy when he or she uses the Website after such changes have been first posted.</p>
        <h2>QUESTIONS OR CONCERNS</h2>
        <p>If you have any questions or concerns regarding privacy, please send us a detailed message to support @ gingerlabs.com.  We will make every effort to resolve your concerns.<br>
        Effective Date: June 10, 2009
        </p>

  </article>

</section>