.tab-menu {
	.inline-list {
		font-size: .85em;
		line-height: 3em;	
		margin-bottom: 0;
	}	
}

.side-nav {
	font-weight: 600;
}

.social {
	[class^="icon-"], [class*=" icon-"] {
		color: rgba(#fff, .6);	
		font-size: 2em;
	
		@media #{$medium-up} {
			margin-left: .5em;
		}	
	}

	a {
		float: left;
		display: block;
	}
}