/* ==========================================================================
   Parallax Scroll
   ========================================================================== */
body, html {
	height: 100%;
	min-height: 100%;
}
.no-js {
	padding-top: 106px;
}
h2 {
	margin-top: 0;
}
.loading {
	background: url('../img/ico_loading.gif') no-repeat center center;
}
.section {
    opacity: 0;
	height: 360px;
}
.loaded .section,
.no-js .section {
	opacity: 1;
	-webkit-transition: opacity 300ms ease-out;
	-moz-transition: opacity 300ms ease-out;
	transition: opacity 300ms ease-out;
}
main {
	overflow-x: hidden;
}
#preload {
	width: 1px;
	height: 1px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
.bcg {
    background-size: cover;
    height: 100%;
    width: 100%;
}

.hsContainer {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.hsContent {
    max-width: 80%;
    margin: -150px auto 0 auto;
    display: table-cell;
    vertical-align: middle;
    padding: 0 8%;
    text-align: center;
    position: relative;
}
.hsContent h2  {
    color: #fff8de;
    background-color: rgba(0,0,0,0.5);
    padding: 10px 5px;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 12px;
}
.hsContent p {
    width: 80%;
    color: #b2b2b2;
}
.hsContent a {
	color: #b2b2b2;
	text-decoration: underline;
}

/* Slide 1 */
#slide-1 .bcg {background-image:url('../images/hero.jpg')}
#slide-1 .hsContent {}

/* Slide 2 */
#slide-2 .bcg {background-image:url('../images/perspective.jpg')}
#slide-2 .hsContent {}
#slide-2 h2 {}

/* Slide 3 */
#slide-3 .bcg {background-image:url('../images/explore.jpg')}
#slide-3 .hsContent {}
    #slide-3 h2 {
        color: #f2ead6;
        background-color: rgba(0,0,0,0.6);
    }

/* Slide 4 */
#slide-4 .bcg {
    background-image:url('../images/footer.jpg');
    background-position: center center;
}
#slide-4 .hsContent {}
    #slide-4 h2 {
        padding-left: 0;
        padding-right: 0;
    }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    body, html {
        height: auto;
    }
    .bcg {
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        height: 100%;
        width: 100%;
    }
    .section {
        min-width: 768px;
        height: 600px;
    }

    .hsContainer {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
    }

    .hsContent {
        width: 100%;
        max-width: 100%;
        position: absolute;
        display: block;
        left: 0;
        top: 50%;
        text-align: center;
        padding: 0;
    }
        .hsContent h2  {
            font-size: 35px;
            line-height: 38px;
            margin-bottom: 0;
            padding: 1em 0;
        }
        .hsContent p {
            width: 400px;
        }

    #slide-1 .hsContent {
        bottom: 0;
        top: auto;
        margin-left: 0;
    }
    #slide-2 .hsContent {
        margin-left: -340px;
        top: auto;
    }
    #slide-2 h2 {
        position: fixed;
        top: 70%;
    }
    #slide-3 .hsContent {
        margin-left: -300px;
    }
    #slide-4 .hsContent {
        margin-left: -340px;
        position: fixed;
    }
    #slide-4 h2 {
        background: none;
    }
}    